[client]
port = 3306
socket=/var/run/mysqld/mysqld.sock

[mysqld]
## basic settings ##
server-id=3
port = 3306
skip_name_resolve
#skip_ssl
datadir=/var/lib/mysql/
character_set_server=utf8mb4
transaction_isolation = READ-COMMITTED
join_buffer_size=4M
tmp_table_size=16M
max_allowed_packet=32M

interactive_timeout = 1800
wait_timeout = 1800
read_buffer_size = 8M
read_rnd_buffer_size = 16M
sort_buffer_size = 16M

## logs settings ##
slow_query_log = 1
slow_query_log_file=/var/log/mysql/slow-mysql57.log
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 90
long_query_time = 2
min_examined_row_limit = 100

## replication settings ##
read_only=1
master_info_repository = TABLE
relay_log_info_repository = TABLE
log_bin = mysql57-bin
sync_binlog = 1
gtid_mode = ON
enforce_gtid_consistency = 1
log_slave_updates
binlog_format = row

## innodb settings ##
innodb_file_per_table=on
innodb_page_size = 4096
innodb_buffer_pool_size = 256M
innodb_buffer_pool_instances = 1
innodb_log_file_size = 1G
innodb_log_buffer_size = 16777216

## rpl_semi_sync for Slave 半同步复制安装后开启 ##
## plugin-load="rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
plugin-load="rpl_semi_sync_slave=semisync_slave.so"
rpl_semi_sync_slave_enabled = 1

## 多线程复制 ##
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 8
relay_log_recovery = ON
